.header__lang-link{
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 1.16;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    opacity: 1;
}
.header__lang-link:hover{
  opacity: 0.8;
}
.header__lang-link:nth-of-type(2){
  margin-left: 18px;
}
@media screen and (max-width: 767px) {
  .header__lang-link{
    font-size: 1.125em;
    line-height: 1.11;
  }
} 