.place__link-column{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
  }
  @media screen and (max-width: 767px) {
    .place__link-column{
       margin-right: 16px;
       margin-left: 16px;
    }
  }