.footer{
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 24px;
    margin-right: 48px;
    margin-left: 48px;
  }
  @media screen and (max-width: 1023px){
    .footer{
      margin-right: 24px;
      margin-left: 24px;
    } 
    }
  @media screen and (max-width: 767px){
    .footer{
     display: flex;
     position: relative;
     flex-direction: column;
     align-items: flex-start;
     justify-content: space-between;
     margin-right: 16px;
     margin-left: 16px;
    } 
    }