.place__url-heading{
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.2em;
    font-size: 0.75em;
    color: #AAAAAA;
    margin: 0 0 4px 0;
    line-height: 1.7;
    padding: 0;
  } 
  @media screen and (max-width: 1023px) {
    .place__url-heading{
      line-height: 1;
    }
  } 